body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

nav {
    border-bottom: 1px solid #d3d3d3;
    background-color: black;
    border-radius: 5px;
    color: white;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-center {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: #fff;
    margin-top: 5em;
    padding: 2em;
    border-radius: 1em;
}

.container>input {
    font-size: 18px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 1rem;
}

button {
    padding: 1rem;
    border: 5px solid #1a1a1a;
    color: #1a1a1a;
    font-weight: 400;
    border-radius: 5px;
}

button:hover {
    border: 5px solid #fff;
    background-color: #1a1a1a;
    color: #fff;
    cursor: pointer;
}